Identitas

In [ ]:
# Nama      : Salma Sari JUliani
# NIM       : 19921122
# Deskripsi : Praktikum Pengenalan Komputasi 5

Code

In [ ]:
# Import Data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

data_frame = pd.read_csv('pokemon.csv')

In [ ]:
# 1. Membaca 5 entri pertama data menggunakan .head()
data_frame.head()

In [ ]:
# 2. Scatter plot data dengan base_experience sebagai prediktor dan total_points sebagai respons
plt.scatter(data_frame['base_experience'], data_frame['total_points'], color='lightgreen')

plt.xlabel('Base Experience')
plt.ylabel('Total Points')
plt.title('Scatter Plot Base Experience vs Total Points')
plt.show()

In [ ]:
# 3. Box plot masing-masing data prediktor dan data respons

# Box plot base_experience
plt.boxplot(data_frame['base_experience'])
plt.title('Box Plot Base Experience')
plt.show()

In [ ]:
# Box plot total_points
plt.boxplot(data_frame['total_points'])
plt.title('Box Plot Total Points')
plt.show()

In [ ]:
# 4. Model regresi linear
x = data_frame['base_experience'].values.reshape(-1,1)
y = data_frame['total_points'].values.reshape(-1,1)

hahaha = LinearRegression().fit(x,y)

print('a:', hahaha.intercept_)
print('b:', hahaha.coef_)
print('')
print('Maka, didapatkan persamaan :')
print('y = 222.26489544 + 1.38662539x')

In [ ]:
# 5. Visualisasi model regresi linear dan scatter plot data asli
regresi = hahaha.predict(x)

plt.scatter(x,y, color='pink')
plt.plot(x, regresi, color='lightgreen')
plt.xlabel('Base Experience')
plt.ylabel('Total Points')
plt.title('Plot Base Experience vs Total Points')
plt.show()

In [ ]:
# 6. nilai R-squared 
print('R-squared: ', hahaha.score(x,y))

# karena nilai R-squared mendekati 1, maka model regresi yang saya gunakan 
# sudah baik dan tepat

In [ ]:
# 7. prediksi total_points untuk base_experience sebesar 93, 95, 80, 101, 104, 97, 102, 91, 88, 100
y_prediksi = hahaha.predict([[93], [95], [80], [101], [104], [97], [102], [91], [88], [100]])
print(y_prediksi)

In [ ]:
# Prediksi total_points untuk base_experience sebesar 93, 95, 80, 101, 104, 97, 102, 91, 88, 100 
# dengan cara manual 
y1 = 222.26489544 + 1.38662539*93
y2 = 222.26489544 + 1.38662539*95
y3 = 222.26489544 + 1.38662539*80
y4 = 222.26489544 + 1.38662539*101
y5 = 222.26489544 + 1.38662539*104
y6 = 222.26489544 + 1.38662539*97
y7 = 222.26489544 + 1.38662539*102
y8 = 222.26489544 + 1.38662539*91
y9 = 222.26489544 + 1.38662539*88
y10 = 222.26489544 + 1.38662539*100

print('saat x = 93, nilai y adalah:', y1)
print('saat x = 95, nilai y adalah:', y2)
print('saat x = 80, nilai y adalah:', y3)
print('saat x = 101, nilai y adalah:', y4)
print('saat x = 104, nilai y adalah:', y5)
print('saat x = 97, nilai y adalah:', y6)
print('saat x = 102, nilai y adalah:', y7)
print('saat x = 91, nilai y adalah:', y8)
print('saat x = 88, nilai y adalah:', y9)
print('saat x = 100, nilai y adalah:', y10)

In [ ]:
# 8. Scatter plot seluruh pasangan prediktor-respons
plt.scatter([[93], [95], [80], [101], [104], [97], [102], [91], [88], [100]], y_prediksi, color='violet')

plt.xlabel('Base Experience')
plt.ylabel('Total Points')
plt.title('Scatter Plot Base Experience vs Total Points')
plt.show()

In [ ]:
# 9. Data frame baru 
hahahaha = {'x_predictor' : [93, 95, 80, 101, 104, 97, 102, 91, 88, 100],
         'y_predictor' : [351.22105705, 353.99430784, 333.19492693, 362.3140602, 366.47393638, 356.76755862, 363.70068559, 348.44780626, 344.28793008, 360.9274348]}
data_frame_baru = pd.DataFrame(hahahaha)
data_frame_baru.head()

In [ ]:
# 10. Menulis data ke Excel
writer = pd.ExcelWriter('data_new_replace.xlsx')
data_frame.to_excel(writer, "Data Asli")
data_frame_baru.to_excel(writer, "Data Olahan")
writer.save()